@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    height: 100vh;
    min-width: 460px;
    font-family: 'poppins',raleway, helvetica;
    margin: 0;
    padding: 0;
}

.head-blk { 
    background: #3a210f;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 15vh;
    padding:0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

img {
    width: 100%;
    height: auto;
}

a{
    text-decoration: none ;
    color: white;
}

.content {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
}

.brand-name {    
    display: flex;
    align-items: center;        
    margin: 0px;
    padding: 0px;
}
.emblem{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
#logo {
    max-width:80px;
    height: auto;
}

.search-bar{
    width:50%;
    height: auto;
    padding:1.5rem;
}
#search{
    width: 100% ;
    height: 50px;
    border-radius: 30px;
    padding-left: 1.5rem;
    border: none;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 1rem;
}
#nav-links:hover {
    color: rgb(140, 0, 255);
    text-decoration: underline;
}

/*---- end of header-----*/
.menu-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #fff4d5;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 5rem;
}
h3, h4{
  font-weight: 100;
}

/*---- end of section1-----*/
.section2{
    display: flex;
    flex-direction: column;
}

.section2 h1{
    font-size: 3rem;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.5 ease-in;
}

.section2 h4{
    cursor: pointer;
    color: aliceblue;
    transition: all 0.5 ease-in;
}
.section2 h4:hover{
    color: rgb(209, 209, 209);
    text-decoration: underline;
}
.title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid white;
}
.products{
    display: flex;
    width: 100%;
    height: auto;
    background: #925a31;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 230px;
    flex-grow: 0;
    flex-shrink: 0;
    transition: transform 0.5s ease;
    border-radius:15px ;
    padding: 0.5rem;
}
.product-container:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    transform: translateY(-5px) ;
}

#img-product{
    height: auto;
    width: 80%;
    margin: 1rem;
    transition: all 0.5s ease-in-out;
}
#img-product:hover{
    border-radius: 50% ;
}


@media (max-width: 900px){
    h1{
        font-size: 3rem;
    }
    h3, h4{
      font-weight: 100;
      font-size: smaller;
    }
}
@media (max-width: 600px){
    h1{
        font-size: 2rem;
    }
    h3, h4{
      font-weight: 100;
      font-size: smaller;
    }
}
